{% extends "admin/change_form.html" %}

{% block field_sets %}

    {{ adminform.form.non_field_errors }}

    <div class="form-row">
        {{ adminform.form.username.label_tag }}
        {{ adminform.form.username }}
        {{ adminform.form.username.errors }}
    </div>

    <div class="form-row">
        {{ adminform.form.first_name.label_tag }}
        {{ adminform.form.first_name }}
        {{ adminform.form.first_name.errors }}
    </div>

    <div class="form-row">
        {{ adminform.form.last_name.label_tag }}
        {{ adminform.form.last_name }}
        {{ adminform.form.last_name.errors }}
    </div>

    <div class="form-row">
        {{ adminform.form.email.label_tag }}
        {{ adminform.form.email }}
        {{ adminform.form.email.errors }}
    </div>

    <div class="form-row">
        {{ adminform.form.groups.label_tag }}
        {{ adminform.form.groups }}
        {{ adminform.form.groups.errors }}
    </div>

    <div class="form-row">
        {{ adminform.form.bio.label_tag }}
        {{ adminform.form.bio }}
        {{ adminform.form.bio.errors }}
    </div>

{% endblock %}