{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <link
        rel="stylesheet"
        href="https://cdn.ckeditor.com/ckeditor5/48.5.1/ckeditor5.css"
    >
   	<script src="https://cdn.ckeditor.com/ckeditor5/48.5.1/ckeditor5.umd.js"></script>

{% endblock %}


{% block admin_change_form_document_ready %}

    {{ block.super }}

    <script>
        const {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Link,
            
        } = CKEDITOR;

        const textarea = document.querySelector("#article-content");

        if (!textarea) {
            console.error("Could not find #article-content");
        } else {
            ClassicEditor
                .create(textarea, {
                    plugins: [
                        Essentials,
                        Paragraph,
                        Bold,
                        Italic,
                        Link,
                        List
                    ],
                    toolbar: [
                        "undo",
                        "redo",
                        "|",
                        "bold",
                        "italic",
                        "link",
                        "|",
                        "bulletedList",
                        "numberedList"
                    ]
                })
                .then(editor => {
                    console.log("CKEditor initialized", editor);
                })
                .catch(error => {
                    console.error("CKEditor initialization failed:", error);
                });
        }
    </script>
{% endblock %}